

  <img class="center" src="/DL_page_png/mal01.png" />


  <div class="down-select">
    <div class="down-box">
       <img class="center" src="/DL_page_png/mal06.png" />
       <a href="/fetch_zip/MP3.zip">
       <img class="center" src="/DL_page_png/mal08.png" />
       </a>
    </div>
    <div class="down-box">
       <img class="center" src="/DL_page_png/mal07.png" />
       <a href="/fetch_zip/WAV.zip">
       <img class="center" src="/DL_page_png/mal08.png" />
       </a>
    </div>
  </div>

  <br class="clear" />

  <div class="tweet-box">
    <img class="center" src="/DL_page_png/mal09.png" />
    <br />
    <a href="http://twitter.com/home/?source=mp3killedthecdstar.net&status=Maltine+Records+「MP3+killed+The+CD+star?」ダウンロード完了！+%23maru50">
    <img class="center" src="/DL_page_png/mal10.png" />
    </a>
  </div>
